# Alpaca
ALPACA_API_KEY=PKTOZ4V2TXSCH4KA3MJJCFM7ZC
ALPACA_SECRET_KEY=2n619kjhmiqD7Xuc52ZLjNWD3Q1HGv9tefZ36hfv36mX
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2   # switch to live when ready

# Alpha Vantage (optional, for news sentiment)
ALPHA_VANTAGE_API_KEY=HQT51O6PU7Q44IOI

# Reddit (optional, for macro sentiment)
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=Templar/1.0
